@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

a {
  text-decoration: none;
  color: black;
}

li a {
  padding: 1em;
  font-size: 20px;
  font-family:'Trebuchet MS';
  font-weight: bold;
}

li a:hover {
  color: #BF5700;
}

li a:focus {
  color: black;
  background-color: #BF5700;
}

li a:active {
  color: black;
  background-color: #BF5700;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.ModalButton {
  background: none!important;
  text-decoration: none;
  border: none;
  padding: 0em;
  font-size: 20px;
  font-family:'Trebuchet MS';
  font-weight: bold;
  margin-left: 1em;
}

.ModalButton:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}