<div>
  <div class="top-header">
    <a routerLink="/home"
      ><img src="../../img/longhorn-orange.png" width="20%"
    /></a>

    <div class="top-header-title" style="font-size: 34px">
      UT Ticket Exchange
    </div>
    <li>
      <app-main-buttons
        id="contactUsNavButton"
        [route]="'/contact'"
        [buttonName]="'Contact Us'"
      ></app-main-buttons>
    </li>
    <li>
      <app-main-buttons
        [route]="'/exchange'"
        [buttonName]="'Exchange'"
      ></app-main-buttons>
    </li>
    <li>
      <app-main-buttons
        [route]="'/home'"
        [buttonName]="'Home'"
      ></app-main-buttons>
    </li>
  </div>
</div>
