<div>
  <div class="top-header">
    <img src="../../assets/longhorn_transparent.png" width="20%" />
    <div class="top-header-title">UT Ticket Exchange</div>
    <li>
      <app-main-buttons
        [route]="'/contact'"
        [buttonName]="'Contact Us'"
      ></app-main-buttons>
    </li>
    <li>
      <app-main-buttons
        [route]="'/listings'"
        [buttonName]="'Listings'"
      ></app-main-buttons>
    </li>
    <li>
      <app-main-buttons
        [route]="'/login'"
        [buttonName]="'Home'"
      ></app-main-buttons>
    </li>
  </div>
</div>
