<!-- <p>nav-bar works!</p> -->
<div>
   <div class="top-header">
      <img src="../../assets/longhorn.png" width="20%"/>
      <div style="color: #BF5700; font-weight: 600;"> UT Ticket Exchange </div>
      <li (click)="printColor(3)"><app-main-buttons [route]="'/contact'" [buttonName]="'Contact Us'" [currColor]="getContactColor()"></app-main-buttons></li>
      <li (click)="printColor(2)"><app-main-buttons [route]="'/listings'" [buttonName]="'Listings'" [currColor]="getDashboardColor()"></app-main-buttons></li>
      <li (click)="printColor(1)"><app-main-buttons [route]="'/login'" [buttonName]="'Home'" [currColor]="getHomeColor()"></app-main-buttons></li>
   </div>
</div>