button {
  background-color: #bf5700;
  margin-top: 20px;
  border-radius: 6px;
  border-color: transparent;
  color: white;
  height: 50px;
  font-size: 15px;
  font-weight: 500;
  width: 205px;
  outline: none;
  margin-left: 20px;
  letter-spacing: 1px;
}

button:active {
  border-color: transparent;
  background-color: #a34803;
}

button:hover {
  cursor: pointer;
}
