<!-- <p>login-page works!</p> -->
<!-- <mdb-navbar></mdb-navbar> -->
   <!-- <div >
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="courses">Courses</a></li>
        </ul>
    </div> -->


<!-- <div class="arial1">
   <nav>
      <a routerLink="/dashboard">Dashboard</a>
   </nav> 
</div> -->


<div style="position: relative">
  <div class="top-header">
    <app-home-button></app-home-button>
    <app-dashboard></app-dashboard>
    <app-contact-us-button></app-contact-us-button>
  </div>
  <h1 style="position: absolute; margin-top: 8px; left: 20px;">UT TICKET EXCHANGE</h1> 
  <img src="../../assets/stadium_aerial.jpg" alt="UT Background Image" 
    width="100%"/>
  <div class="BootstrapModal">
    <app-contactmodal></app-contactmodal>
  </div>
</div>