p {
   font-size: large;
   font-family: cursive;
}

.arial1 {
   background-image: url(../../assets/ut-game.jpg);
   height: 900px;
   display: block;
   width: 80%;
   
   background-size: contain;
   margin-left: auto;
   margin-right: auto;
}

ul {
   /* border: 2px, black;
   margin-top: 0; */
   margin-top: 0px;
}

li {
   font-size: large;
   font-family: fantasy;
   /* flex: auto; */
   float: left;
   display: inline;
   margin-top: 0px;
   /* padding: 10px; */
   /* padding: 10%; */
}

a {
   display: block;
   padding: 10px;
   /* margin-top: -10px; */
   background-color: #8842d5; 
}


