<!-- <p>login-page works!</p> -->
<!-- <mdb-navbar></mdb-navbar> -->
   <div >
        <!-- <a class="navbar-brand">Angular Router</a> -->
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="courses">Courses</a></li>
        </ul>
    </div>


<!-- <div class="arial1">
   <nav>
      <a routerLink="/dashboard">Dashboard</a>
   </nav> 
</div> -->
