li {
   font-size: large;
   font-family: fantasy;
   /* flex: auto; */
   float: left;
   display: inline;
   margin-top: 0px;
}

.signin {
   flex: 1;
}

.description {
   flex: 2;
   /* text-align: center; */
   padding-left: 10%;
   vertical-align: middle;
}

.description .big {
   color: rgb(80, 80, 80);
   font-size: 35px;
   font-weight: 600;
   line-height: 45px;
   padding-top: 70px;
}

.description .small {
   color: rgb(120, 120, 120);
   font-size: 20px; 
}

button {
   background-color: #BF5700;
   margin-top: 20px;
   border-radius: 6px;
   border-color: transparent;
   color: white;
   height: 50px;
   font-size: 15px;
   font-weight: 500;
   width: 250px;
   outline: none;
}

button:active {
   border-color: transparent;
   background-color:#A34803;
}

button:hover {
   cursor: pointer;
}

