<div class="card-body">
   <div style="flex: 1;">
      <div style="display: flex;"> 
         <div style="flex: 1">
            <mat-icon svgIcon="football_icon"></mat-icon>
         </div>
         <div style="flex: 4; text-align: center;">
            {{ currTicket.collegeOne }} at {{ currTicket.collegeTwo }}
         </div>
      </div>
      <!-- <mat-icon svgIcon="football_icon" style="margin-right: 10px;"></mat-icon> -->
      <!-- <mat-icon svgIcon="location"></mat-icon> -->
   </div>
   <div style="flex: 1;">
      <mat-icon svgIcon="calendar" style="margin-left: 20px; display: inline-block; margin-right: 10px; vertical-align: middle;"></mat-icon>
      <div style="background-color: white; height: 30px; width: 180px; border-radius: 5px; display: inline-block; vertical-align: middle; text-align: center; padding-top: 2px;">
         {{ currTicket.month }}/{{ currTicket.day }}/{{ currTicket.year }} {{ currTicket.time }} CST
      </div>
   </div>
   <div style="flex: 1;">
      <mat-icon svgIcon="location" style="margin-left: 20px; display: inline-block; margin-right: 10px; vertical-align: middle;"></mat-icon>
      <div style="background-color: white; height: 30px; width: 180px; border-radius: 5px; display: inline-block; vertical-align: middle; text-align: center; padding-top: 2px;">
         {{ currTicket.location }}
      </div>
   </div>
   <div style="flex: 1;">
      <button>
         Bid
      </button>
      <div style="background-color: white; height: 30px; width: 160px; border-radius: 5px; display: inline-block; vertical-align: middle; text-align: center; margin-top: 10px; margin-left: 15px; padding-top: 2px;" >
         Highest Bid: ${{ currTicket.price }}
      </div>
   </div>
</div>