<!-- https://medium.com/@izzatnadiri/how-to-pass-data-to-and-receive-from-ng-bootstrap-modals-916f2ad5d66e -->
<!-- https://levelup.gitconnected.com/how-to-create-a-reusable-modal-dialog-component-in-angular-8-241cc738d260 -->

<!-- <div *ngIf="ticketStr">
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="top: 25%">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{ticketStr.collegeOne}} at {{ticketStr.collegeTwo}}</h5>
    
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <h6>1x {{getSport(ticketStr.sport)}} Ticket</h6>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div *ngIf="ticketStr">
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="top: 20%;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div style="background-color: rgb(238, 238, 238);">
          <div style="text-align: center; padding-top: 20px;">
            <h5 id="exampleModalLongTitle" style="display: inline-block; padding-left: 10px;">{{ticketStr.collegeOne}} at {{ticketStr.collegeTwo}}</h5>
    
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display: inline-block;  padding-right: 10px;">
              <span aria-hidden="true">&times;</span>
            </button> -->
          </div>
          <div style="text-align: center;">
            <h6>1x {{getSport(ticketStr.sport)}} Ticket</h6>
          </div>
        </div>

        <div class="modal-body" style="text-align: center; background-color: rgb(250, 250, 250);">
          <h5> Details </h5>
          <h5 class="non-bold"> Date: {{ticketStr.day}}/{{ticketStr.month}}/{{ticketStr.year}} </h5>
          <h5 class="non-bold"> Time: {{ticketStr.time}} CST </h5>
          <h5 class="non-bold"> Location: {{ticketStr.location}} </h5>
        </div>
        <div style="text-align: center; padding-top: 15px;">
          <h5> Terms </h5>
          <h5 class="non-bold" style="padding-bottom: 30px;"> Highest Bid: ${{ticketStr.highestPrice}} </h5>
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button> -->
          <div style="display: flex;">
            <mat-icon svgIcon="checkmark" style="flex: 1; margin-left: 80px;"></mat-icon>
            <div class="checkbox-text">
                Should my bid be selected, I agree to pay the seller the full bid amount.
            </div>
          </div>
          <div style="padding-bottom: 20px;">
            <h5 class="non-bold"> My bid: </h5>
            <input> 
          </div>
          <button style="border-radius: 5px; width: 100px; height: 50px; border: none; color: white; margin-bottom: 30px;"> Place Bid </button>
        </div>
      </div>
    </div>
  </div>
</div>

