<div style="position: relative; overflow: hidden">
  <!-- <div>
      <div class="top-header">
         <img src="../../assets/longhorn.png" width="20%"/>
         <div style="color: #BF5700; font-weight: 600;"> UT Ticket Exchange </div>
         <li><app-main-buttons [route]="'/contact'" [buttonName]="'Contact Us'"></app-main-buttons></li>
         <li><app-main-buttons [route]="'/listings'" [buttonName]="'Listings'"></app-main-buttons></li>
         <li><app-main-buttons [route]="'/login'" [buttonName]="'Home'"></app-main-buttons></li>
      </div>
   </div> -->
  <app-nav-bar></app-nav-bar>

  <!-- <img
    src="../../assets/stadium_aerial.jpg"
    alt="UT Background Image"
    width="100%"
    style="opacity: 0; display: block; z-index 0;"
  /> -->

  <div [style.height.px]="innerHeight" [style.width.%]="100"></div>

  <div
    style="
      position: absolute;
      top: 25%;
      width: 100%;
      background-color: rgb(250, 250, 250, 0.85);
      height: 330px;
      display: flex;
    "
  >
    <div class="description">
      <div class="big">
        Any date. Any game.
        <div style="width: 10px; height: 10px"></div>
        Buy and sell UT tickets in minutes.
      </div>
      <div style="height: 30px; width: 10px"></div>
      <div class="small">Created by UT students, for UT students.</div>
    </div>
    <div class="signin">
      <img
        src="../../assets/ut_logo_cropped.png"
        style="padding-top: 39px; height: 175px; margin-top: 14.5px"
      />
      <br />
      <app-auth-button></app-auth-button>
      <!-- <button routerLink="/auth">Sign In with UT Email</button> -->
      <!-- <div *ngIf="true; else ElseBlock">Content to render when condition is true.</div>
          <ng-template #ElseBlock><div> Testing </div></ng-template> -->
    </div>
  </div>
</div>

<div *ngIf="routeContact">
  <app-contactmodal></app-contactmodal>
</div>
