li {
  font-size: large;
  font-family: fantasy;
  /* flex: auto; */
  float: left;
  display: inline;
  margin-top: 0px;
}

.signin {
  flex: 1;
}

.description {
  flex: 2;
  /* text-align: center; */
  padding-left: 10%;
  vertical-align: middle;
}

.description .big {
  color: rgb(80, 80, 80);
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  padding-top: 95px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.description .small {
  color: rgb(120, 120, 120);
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
